<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>axure</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    
    <section class="all-container">

        <!-- top container -->

        <div class="top-container"> 

            <div class="ranking" onclick="rankShowList()">
                <img src="assets/icons/trophy.png" alt="">
                <span>254631</span>
            </div> 

            <div class="coins" onclick="coinShowList()">
                <img src="assets/icons/plus.png" alt="">
                <span>25</span>
                <img src="assets/icons/coins.png" alt="">
            </div>

        </div>

        <!-- main container --> 
        <div class="main-container">

            <!-- main container top section-->
            <div class="main-letters">

                <div class="main-letters-row">

                    <div class="inner-row">
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                    </div>

                </div>

                <div class="main-letters-row">

                    <div class="inner-row">
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                    </div>

                </div>

                <div class="main-letters-row">

                    <div class="inner-row">
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div> 
                    </div>


                </div>

                <div class="main-letters-row">

                    <div class="inner-row">
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div> 
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                p
                            </div>
                        </div>
                    </div>


                </div>

                <hr class="horizontal-hr">

            </div>

            <!-- main container bottom section-->
            <div class="main-letters-choose">
                <div class="main-circle">

                    <img src="assets/icons/drupal.png" alt="" class="main-circle-center">

                    <div class="letters-circle-item letters-circle-item1">
                        p
                    </div>
                    <div class="letters-circle-item letters-circle-item2">
                        d
                    </div>
                    <div class="letters-circle-item letters-circle-item3">
                        f
                    </div>
                    <div class="letters-circle-item letters-circle-item4">
                        e
                    </div>
                    <div class="letters-circle-item letters-circle-item5">
                        r
                    </div>
                    <div class="letters-circle-item letters-circle-item6">
                        t
                    </div>
                </div>
            </div>

        </div>

        <!-- bottom container -->
        <div class="bottom-container"> 
            
            <div class="bottom-container-part" onclick="coinShowList()">
                <div class="bottom-coins">
                    <img src="assets/icons/coins.png" alt="">
                    <span>45</span> 
                </div>
            </div>
            
            <div class="bottom-container-part bottom-container-part-p">
                <p>username</p>
            </div>
            

            <div class="bottom-container-part bottom-container-part-re">
                <div class="refresh">
                    <img src="assets/icons/refresh.png" alt=""> 
                </div> 
            </div>
            

        </div>


        <!-- ranking list over container --> 
        <section id="ranking-list-shadow" class="ranking-list-shadow">
            <div class="ranking-list-container">
                <div id="close-ranking-list" class="close-ranking-list" onclick="rankHideList()">
                    <img src="assets/icons/close.png" alt="">
                </div>
                <div class="ranking-list-inner">
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                    <div class="item">
                        <span>ahma****</span>
                        <span>241554</span>
                    </div>
                </div>
            </div>
        </section>


        <!-- coin list over container --> 
        <section id="coin-list-shadow" class="coin-list-shadow">
            <div class="coin-list-container">
                <div id="close-coin-list" class="close-coin-list" onclick="coinHideList()">
                    <img src="assets/icons/close.png" alt="">
                </div>
                <form class="coin-list-inner">
                    <div class="item">
                        <div class="coin-sign">
                            <input name="coin" type="radio" checked></input>
                            <img src="assets/icons/coins.png" alt="">
                            500 coin
                        </div>
                        <div class="dollar-sign">
                            <img src="assets/icons/dollar.png" alt="">
                            0.1
                        </div>
                    </div>
                    <div class="item">
                        <div class="coin-sign">
                            <input name="coin" type="radio"></input>
                            <img src="assets/icons/coins.png" alt="">
                            500 coin
                        </div>
                        <div class="dollar-sign">
                            <img src="assets/icons/dollar.png" alt="">
                            0.1
                        </div>
                    </div>
                    <div class="item">
                        <div class="coin-sign">
                            <input name="coin" type="radio"></input>
                            <img src="assets/icons/coins.png" alt="">
                            500 coin
                        </div>
                        <div class="dollar-sign">
                            <img src="assets/icons/dollar.png" alt="">
                            0.1
                        </div>
                    </div>
                    <div class="item">
                        <div class="coin-sign">
                            <input name="coin" type="radio"></input>
                            <img src="assets/icons/coins.png" alt="">
                            500 coin
                        </div>
                        <div class="dollar-sign">
                            <img src="assets/icons/dollar.png" alt="">
                            0.1
                        </div>
                    </div>

                    <div class="coin-buy-button">
                        <a href="#">button</a> 
                    </div>
                    
                    
                </form>
            </div>
        </section>


    </section>

    <script src="assets/js/scripts.js"></script>
</body>
</html>